* {
  margin: 0;
  padding: 0;
}
/* main grid */
#container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "top_navbar" "main" "bottom_navbar";
}
#top_nav {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #555;

  grid-area: top_navbar;
}
#main {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;

  grid-area: main;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
#bot_nav {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #555;

  grid-area: bottom_navbar;
}
/* top navigator */
#top_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 10px 10px;
}
#noti {
  flex: 1 1 auto;
}
/* main screen */
#banner {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #fff;

  margin: 20px 0px -10px 0px;
}
.post_block {
  display: block;
  width: 70%;
  height: 175px;
  background-color: #999;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* bottom navigator */
#bot_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu_item {
  color: #fff;
  list-style: none;
}
