input[type="radio"] {
  display: none;
}
#top_nav {
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(242, 246, 255);

  position: fixed;
  z-index: 5;
}
#bot_nav {
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(242, 246, 255);

  position: fixed;
  bottom: 0%;
}
/* top navigator */
#top_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px 20px 20px;
}
#noti {
  flex: 1 auto;
}
#top_menu > .menu_item > img {
  width: 30px;
}
/* bottom navigator */
#bot_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu_item {
  list-style: none;
}
.bot_menu_but {
  display: block;
  width: 25%;
  height: 50px;
}
.bot_menu_but > label {
  display: block;
  width: 100%;
  height: 100%;
}
.bot_menu_but > label > img {
  width: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#selected {
  position: absolute;
  left: 2.5%;
  top: 50%;
  transform: translate(0%, -50%);
  display: block;
  /* width: 25%;
  height: 50px; */
  width: 20%;
  height: 40px;
  /* border-bottom-right-radius: 20px; */
  border-radius: 20px;
  background-color: #3819f8;
}
